.auth{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap:4rem;
    position: relative;
}

.auth-left{
    display:flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
}


.auth-left>img{
    object-fit: contain;
    width:4rem;
  height:4rem;
}



.logoGrad{
    font-size: 3rem;
    background-color: red;
    background-image: var(--buttonBg);

    /* create the gradient now */


    /* set the background size and repeat properties */

    background-size: 100%;
    background-repeat: repeat;

    /* use the text as a mask for the background */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    
}

.webname>h6{
    font-size: 0.85rem;
    margin-top:-17px;
}

/* .auth-right{
    display:flex;
    
} */
.info{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap:1.5rem;
}

.info>div{
    display: flex;
    gap:1rem;
    justify-content: center;
    height: 2rem;
    width: 100%;
}


.infoInput{
    border:none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding:20px;
    flex:1;
}

.auth-button{
    width:30%;
  padding:10px 20px;
    align-self: flex-end;
}

.auth-form{
    background-color: var(--cardColor);
    border-radius: 1rem;
    padding:1rem;
}

